name: Specs
on:
  pull_request:
    branches:
      - main

jobs:
  linting:
    name: Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13-alpine
        env:
          POSTGRES_USER: dream
          POSTGRES_DB: dream_core_test
          POSTGRES_PASSWORD: "postgres"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      NODE_ENV: test
      PORT: 7778
      DB_USER: dream
      DB_NAME: dream_core_test
      DB_HOST: localhost
      REPLICA_DB_NAME: dream_core_test
      REPLICA_DB_HOST: localhost
      DB_PASSWORD: postgres
      DB_PORT: 5432
      TZ: UTC
      DREAM_PARALLEL_TESTS: 4

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"

      - run: corepack enable

      - run: pnpm install --frozen-lockfile
      - run: pnpm dream db:migrate --skip-sync
      - run: pnpm spec
